{% extends 'base.html.twig' %}

{% block body %}
    <h1>Les dernières actus</h1>
    <ul>
        {% for post in posts %}
            <li>
                <a href="{{ path('post_show', {'id': post.id}) }}">{{ post.title }}</a>
                <div>
                    <span class="like-count">{{ post.countLikes() }} likes</span>
                    <span class="dislike-count">{{ post.countDislikes() }} dislikes</span>
                </div>
                <p>
                    {{ post.content|raw }}
                    <a href="{{ path('post_show', {'id': post.id}) }}">lire la suite</a>
                </p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}