{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body_id %}homepage{% endblock %}
{% block body %}

    <section class="intro">
        <h2>Bienvenue sur notre site</h2>
        <p>Découvrez les dernières actualités et restez à jour avec les nouveautés.</p>
    </section>

    <section class="news">
        <h1>Les dernières actus</h1>
        <div class="posts">
            {% for post in posts %}
                <a class="post-card" href="{{ path('post_show', {'id': post.id}) }}">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <div class="feedback">
                        <span class="like-count">
                            <i class="fas fa-thumbs-up like"></i> {{ post.countLikes() }}
                        </span>
                        <span class="dislike-count">
                            <i class="fas fa-thumbs-down dislike"></i> {{ post.countDislikes() }}
                        </span>
                    </div>
                    <div>
                        {#{{ post.getTruncatedContent(200) | raw }}#}
                        {{ post.content|raw }}
                    </div>
                </a>
            {% endfor %}
        </div>
{% endblock %}