{% extends 'base.html.twig' %}

{% block title %}Publier un nouvel article{% endblock %}

{% block body %}
    <h1>Publier un nouvel article</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Publier</button>
    {{ form_end(form) }}
    <a href="{{ path('admin_category_new') }}" class="btn btn-primary">Créer une nouvelle catégorie</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('lib/tinymce/tinymce.min.js') }}" referrerpolicy="origin"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            tinymce.init({
                selector: 'textarea.tinymce',
                plugins: 'lists link image table',
                toolbar: 'undo redo | formatselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
                setup: function (editor) {
                    editor.on('init', function () {
                        editor.targetElm.setAttribute('name', 'post[content]');
                    });
                }
            });
        });
    </script>
{% endblock %}