{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
            Bienvenue à toi ! Tu peux te connecter pour accéder à ton compte.
        </p>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div>
                <label for="inputEmail">Email</label>
                <input type="email" id="inputEmail" name="_email" value="{{ last_identifier }}" required autofocus>
            </div>

            <div>
                <label for="inputPassword">Password</label>
                <input type="password" id="inputPassword" name="_password" required>
                <a href="{{ path('forgot_password_request') }}">Mot de passe oublié ?</a>
            </div>

            <button type="submit">Se connecter</button>
        </form>
        <p>Pas encore de compte ? <a href="{{ path('register') }}">Inscrivez-vous ici</a></p>
    </div>
{% endblock %}