{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.content|raw }}</p>
    <div>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <form action="{{ path('post_like', {'id': post.id}) }}" method="post">
                <button type="submit" class="like-btn" {% if not is_granted('ROLE_USER_REGISTERED') %}disabled title="Vous devez valider votre e-mail pour pouvoir interagir"{% endif %}>Like</button>
            </form>
            <span class="like-count">{{ post.countLikes() }} likes</span>
            <form action="{{ path('post_dislike', {'id': post.id}) }}" method="post">
                <button type="submit" class="dislike-btn" {% if not is_granted('ROLE_USER_REGISTERED') %}disabled title="Vous devez valider votre e-mail pour pouvoir interagir"{% endif %}>Dislike</button>
            </form>
            <span class="dislike-count">{{ post.countDislikes() }} dislikes</span>
        {% else %}
            <span class="like-count">{{ post.countLikes() }} likes</span>
            <span class="dislike-count">{{ post.countDislikes() }} dislikes</span>
        {% endif %}
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_post_edit', {'id': post.id}) }}">Modifier</a>
    {% endif %}
    <h2>Commentaires</h2>
    <ul id="comment-list">
        {% for comment in post.comments %}
            <li>
                {{ comment.content }} - par {{ comment.author.username }} le {{ comment.createdAt|date('d/m/Y H:i') }}
                <div>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') and comment.author.id != app.user.id %}
                        <form action="{{ path('comment_like', {'id': comment.id}) }}" method="post">
                            <button type="submit" class="comment-like-btn" {% if not is_granted('ROLE_USER_REGISTERED') %}disabled title="Vous devez valider votre e-mail pour pouvoir interagir"{% endif %}>Like</button>
                        </form>
                        <span class="comment-like-count">{{ comment.countLikes() }} likes</span>
                        <form action="{{ path('comment_dislike', {'id': comment.id}) }}" method="post">
                            <button type="submit" class="comment-dislike-btn" {% if not is_granted('ROLE_USER_REGISTERED') %}disabled title="Vous devez valider votre e-mail pour pouvoir interagir"{% endif %}>Dislike</button>
                        </form>
                        <span class="comment-dislike-count">{{ comment.countDislikes() }} dislikes</span>
                        <a href="{{ path('comment_report', {'id': comment.id}) }}">Signaler</a>
                    {% else %}
                        <span class="comment-like-count">{{ comment.countLikes() }} likes</span>
                        <span class="comment-dislike-count">{{ comment.countDislikes() }} dislikes</span>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <form method="post" action="{{ path('admin_comment_delete', {'id': comment.id, 'origin': 'post_show'}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce commentaire ?');" style="display:inline-block;">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger">Supprimer</button>
                        </form>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <form id="comment-form" action="{{ path('post_show', {'id': post.id}) }}" method="post">
            {{ form_start(commentForm) }}
            {{ form_widget(commentForm) }}
            {{ form_end(commentForm) }}
        </form>
    {% endif %}
{% endblock %}
